<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=den1.mssql7.gear.host;
         Initial Catalog=pdba6; 
         User Id=pdba6;
         password=Ng60LC__unu6;
    "/>
  </connectionStrings>
</configuration>